:root {
    --black: #191919;
    --orange: #f15025;
    --background: #F1F0E5;
    --yellow: #FBAB21;
}

body, html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: "Inter", sans-serif; 
    background-color: var(--background);
    font-size: 14px; 
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main, section {
    display: flex;
    align-items: center;
    justify-content: center; /* Вирівнювання контенту по центру */
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* MAIN */

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0px auto;
}

header {
    margin-top: 25px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin-right: 70px;
    color: var(--black);
    display: inline-block;
    transition: color .4s ease;
}

nav a:hover {
    color: var(--orange); 
    transform: scale(1.05); 
}

nav a:last-of-type {
    margin-right: 0;
}

.burger {
    display: none;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 20px;
    z-index: 50;
}

.burger span  {
    height: 3px;
    width: 80%;
    transform: scale(1);
    background-color: #191919;
}

.burger::before, .burger::after {
    content: ' ';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #191919;
    transition: all .3s ease;
}

.burger::before { top: 0; }

.burger::after { bottom: 0; }

.burger.active span { transform: scale(0); }

.burger.active::before {
    top: 50%;
    background-color: var(--background); 
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    background-color: var(--background); 
    transform: rotate(45deg) translate(0, 50%);
}

main {
    margin-top: 0px;
    margin-bottom: 0;
}

/*  main */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px; 
}

.box {
    transform: translateY(-140px); 
}

.text-content {
    max-width: 50%; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 0;
}

.main-img {
    position: relative;
    display: block;
    right: 179px; 
    width: 100%;
    height: auto;
    align-self: flex-end;
    object-fit: cover;
    margin-top: 48px;
    z-index: 0;
}

.main-content h1 {
    color: var(--black);
    font-size: 140px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    line-height: 110%;
    width: 648px;
    margin-bottom: 0;
}

.background-text {
    position: relative;
    color: var(--black);
    opacity: 20%;
    font-size: 140px;
    font-family: "Inter", sans-serif; 
    top: 118px;
    left: 370px;
}

.main-content p {
    text-align: left;
    color: var(--black);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    width: 350px;
    margin-top: 30px;
}

.menu-button {
    font-size: 20px;
    border: none;
    outline: none;

    padding: 16px 30px;
    background-color: var(--orange);
    border-radius: 50px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    color: var(--background);
    text-decoration: none;
    transition: transform .4s ease;
    margin-top: 40px;
    top: 562px;
    z-index: 0;

}

.menu-button:hover {
    transform: scale(1.05); 
}

/* Адаптив для планшетів (до 768px) */
@media (max-width: 768px) {

    header .container {
        height: 5vw;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 125vw; 
    }

    .box {
        transform: translateY(-29vw); 
    }

    /* .container {
        height: 830px;
    } */

    .header-content {
        flex-direction: row; 
        align-items: center; 
    }

    nav a {
        margin-right: 50px;
        font-size: 16px;
    }

    .header-content_logo {
        max-width: 80%;
    }

    .text-content {
        max-width: 100%;
        margin-top: 0px;
    }

    .text-content h1 {
        font-size: 16vw;
        width: 90vw;
        text-align: left; 
        left: 0;
        margin-top: 0;
    }
    
    .text-content p {
        font-size: 2vw;
        line-height: 3vw;
        width: 35vw;
        margin-top: 20px;
    }

    .main-img {
        width: 100%;
        max-width: none;
        align-self: center;
        object-fit: contain;
        height: auto;
        top: -47vw;
        left: 0vw;
    }

    .menu-button {
        margin-top: 3.5vw;
        font-size: 2vw; 
        padding: 1.6vw 3vw;
        gap: 1.2vw; 
    }

    .arrow {
        width: 3vw;
        height: 1.6vw;
    }

    .background-text {
        position: relative;
        font-size: 16vw;
        line-height: 18vw;
        left: 52vw; 
        width: 40vw;
        top: 33vw;
    }

    .container {
        padding: 0 20px; 
    }
}

/* Адаптив для мобільних пристроїв (до 480px) */
@media (max-width: 480px) {
    .main-content {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .box {
        transform: translateY(-80vw); 
    }

    .burger {
        display: flex; 
    }

    header .nav {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 100px 50px 40px;
        background-color: var(--black);
        animation: burgerAnimation 0.4s;
    }

    .nav a {
        flex-direction: column;
        margin-bottom: 30px;
        font-size: 18px;
        color: var(--background);
    }

    @keyframes burgerAnimation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .nav.open {
        display: flex; 
    }

    .text-content h1 {
        font-size: 21vw; 
        width: 50px;
        text-align: center; 
        margin-top: 0;
    }

    .text-content p {
        font-size: 3.3vw; 
        line-height: 4.5vw;
        width: 60vw;
    }

    .menu-button {
        margin-top: 5vw;
        font-size: 3.3vw; 
        padding: 2.385vw 4.5vw;
        gap: 1.5vw; 
    }

    .arrow {
        width: 4.5vw;
        height: 2.385vw;
    }
    
    .main-img {
        width: 100%;
        max-width: none;
        align-self: center;
        object-fit: contain;
        height: auto;
        top: -100vw;
        left: 0px; right: 0;
    }

    .background-text {
        position: relative;
        font-size: 21vw; 
        width: 100px;
        top: 83vw; 
        line-height: 22vw;
        left: 70vw;
    }

    .container {
        padding: 0 20px; 
    }
}

/* SECTION 1 */

.create {
    margin-top: 100px;
    position: relative; 
}

.center-text {
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.container h2 {
    color: var(--black);
    font-size: 114px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    line-height: 130px;
}

.titles-container {
    margin-top: 0;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    text-align: center;
    gap: 380px;
    margin-bottom: 50px; 
    height: 73px;
}

.broth h3 {
    margin-top: 0;
    margin-right: 0;
    text-align: left;
}

.noodles {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.noodles h3 {
    margin-top: 0;
    margin-right: 0;
    text-align: left;
}

h3 {
    color: var(--, #191919);
    font-family: Anton;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
    text-transform: uppercase;
    margin-top: 67px;
}

.content-container {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    gap: 150px;
}

.noodles-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px; 
    margin-top: 0px; 
}

.noodles-content h4 {
    margin: 0;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
}

ellipse {
    width: 9px;
    height: auto;
}

.icons {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.icon-item {
    display: flex;
    width: 81px;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.icon-item img {
    display: block;
    margin-top: 0px;
}

.icon-item h4 {
    color: var(--black);
    font-size: 22px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 30px; 
}

.base h3 {
    margin-top: 75px;
    text-align: left;
}

.base-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px; 
    margin-top: 50px; 
}

.base-content h4 {
    margin: 0;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
}

.base p {
    color: var(--black);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 510px;
    line-height: 30px; 
    margin-top: 30px;
}

.toppings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.toppings h3 {
    margin-top: 75px;
    text-align: left;
    margin-bottom: 50px;
}

.first-row {
    display: flex;
    flex-direction: row; 
    align-items: flex-end;
    margin-bottom: 50px;
    gap: 50px; 
}

.first-row .eggs, 
.first-row .narutomaki, 
.first-row .corn {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    text-align: center; 
}

.first-row  .eggs h4 {
    margin-top: 30px;
}

.first-row .narutomaki h4 {
    margin-top: 30px; 
}

.first-row .corn h4 {
    margin-top: 54px; 
}

.toppings-icons .first-row div,
.toppings-icons .second-row div {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.first-row img {
    display: block;
}

.first-row h4 {
    margin: 0;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
}

.second-row {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    gap: 70px; 
}

.second-row div {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

.second-row .meat, 
.second-row .onion, 
.second-row .mashrooms {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    text-align: center; 
}

.second-row  .meat h4 {
    margin-top: 30px;
}

.second-row .onion h4 {
    margin-top: 35px; 
    width: 90px;
}

.second-row .mashrooms h4 {
    margin-top: 16px; 
}

.second-row img {
    display: block;
}

.second-row h4 {
    margin: 0;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
}

.create .container .background-text {
    position: absolute;
    color: var(--black);
    opacity: 20%;
    font-size: 140px;
    font-family: "Inter", sans-serif; 
    margin-top: 80px;
    left: 864px;
    right: 0;
}

.inner {
    height: 1146px;
}

.create-inner {
    display: block;
    position: relative;
    flex-direction: row;
    transform: translate(500px, -1030px);
    width: 848px; 
    height: 1017px; 
    object-fit: contain; 
}

@media (max-width: 768px) {
    .create {
        margin-top: 10vw;
        height: auto;
        /* height: 437vw; */
    }

    #create .container {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        justify-content: flex-start;
        text-align: center; 
        padding: 0 20px;
        height: auto;
    }

    #create .center-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        margin-bottom: 0;
    }

    .center-text h2 {
        text-align: center;
        height: auto;
        font-size: 16vw;
        line-height: 18vw;
    }

    .inner {
        width: 100%; /* Ширина на всю ширину контейнера */
        margin: 0 auto; /* Центрування */
        padding: 0 10px; /* Відступи по краях */
        box-sizing: border-box; /* Враховує відступи в ширині */
    }

    .inner h3 {
        font-size: 6vw ;
        /* line-height: 100%;  */
        margin-top: 6vw;
    }

    .titles-container {
        display: block;
        margin-top: 0;
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        text-align: center;
    }

    .noodles h3 {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        text-align: left;
    }

    .noodles-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3vw; 
    }

    .ellipse {
        width: auto;
        height: 1.35vw;
    }

    .icons {
        display: flex;
        justify-content: flex-start;
    }

    .icon-item {
        gap: 1.2vw;
    }

    .icon-item img {
        display: block;
        margin-top: 0px;
        max-width: 90%;
    }

    #create .icons h4 {
        font-size: 2.675vw;
    }

    .content-container {
        display: flex;
        justify-content: flex-start; 
        align-items: flex-start;
        gap: 19vw;
    }

    .base-content h4, .noodles-content h4 {
        font-size: 2.675vw;
    }

    .base h3 {
        margin-top: 10vw;
    }

    .base p {
        text-align: left;
        width: 57vw;
        font-size: 2.2vw;
        line-height: 3.4vw;
    }

    .toppings {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .toppings h3 {
        margin-top: 10vw;
        margin-bottom: 7vw;
    }
    
    .first-row {
        display: flex;
        flex-direction: row; 
        align-items: flex-end;
        margin-bottom: 7vw;
        gap: 7vw; 
    }
    
    .first-row .eggs, 
    .first-row .narutomaki, 
    .first-row .corn {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        text-align: center; 
    }
    
    .first-row  .eggs h4 {
        margin-top: 5vw;
    }
    
    .first-row .narutomaki h4 {
        margin-top: 5vw; 
    }
    
    .first-row .corn h4 {
        margin-top: 7vw; 
    }
    
    .toppings-icons .first-row div,
    .toppings-icons .second-row div {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }
    
    .first-row img {
        display: block;
    }
    
    .first-row h4 {
        margin: 0;
        font-size: 2.675vw;
    }
    
    .second-row {
        display: flex;
        flex-direction: row; 
        align-items: flex-end;
        gap: 7vw; 
    }
    
    .second-row div {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }
    
    .second-row .meat, 
    .second-row .onion, 
    .second-row .mashrooms {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        text-align: center; 
    }
    
    .second-row  .meat h4 {
        margin-top: 5vw;
    }
    
    .second-row .onion h4 {
        margin-top: 5vw; 
        width: 90px;
    }
    
    .second-row .mashrooms h4 {
        margin-top: 3vw; 
    }
    
    .second-row img {
        display: block;
    }
    
    .second-row h4 {
        margin: 0;
        font-size: 2.675vw;
    }

    .toppings-icons img {
        display: block;
        max-width: 80%;
    }

    #create .background-text {
        font-size: 16vw;
        line-height: 18vw;
        left: 70vw; 
        width: 20vw;
        top: 75vw;

        /* top: 550px;
        left: 570px; */
        margin-top: 0;
    }

    #create .create-inner {
        width: 100%; 
        display: flex;
        justify-content: center; 
    }

    #create .create-inner img {
        position: relative;
        width: 100vw;
        max-width: none;
        align-self: center;
        object-fit: contain;
        height: auto;
        left: 35vw;
        top: -20vw;
    }

    .inner {
        margin-top: 8vw;
    }

    #create .base,
    #create .toppings,
    #create .toppings-icons {
        text-align: center; /* Центрування тексту */
    }

    .create-inner {
        width: 100%;
        max-width: none;
        align-self: center;
        object-fit: contain;
        height: auto;
        left: 0vw;
        height: auto;
        top: -40vw;
        transform: translate(-33vw, 66vw);
    }
}

@media (max-width: 688px) {

    #create .container {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        padding: 0 20px;
        height: 347vw;
    }

    .titles-container {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        gap: 32vw; 
        margin-bottom: 7vw;
    }

    .content-container {
        display: flex;
        flex-direction: column; 
        gap: 20vw; 
    }

    .icons {
        display: flex;
        justify-content: flex-start;
        gap: 5vw;
    }

    .noodles-content {
        display: flex;
        justify-content: flex-start;/* Центрування елементів */
        gap: 20px; /* Відстань між елементами */
    }
    
}

@media (max-width: 480px) {
    .create {
        margin-top: 30vw;
    }

    #create .container {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        padding: 0 10px;
        height: 315vw;
    }

    #create .center-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        margin-bottom: 0;
    }

    .center-text h2 {
        text-align: center;
        height: 33.5vw;
        font-size: 16vw;
        line-height: 18vw;
    }

    .inner {
        width: 100%; 
        box-sizing: border-box;
    }

    .inner h3 {
        font-size: 10vw;
        margin-top: 6vw;
    }

    .titles-container {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        gap: 40vw; 
        margin-bottom: 3vw;
    }

    .content-container {
        display: flex;
        flex-direction: column; 
        gap: 20vw; 
    }

    .icons {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 7vw;
        margin-top: 4vw;
    }

    #create .icons h4 {
        font-size: 4vw;
    }

    .noodles-content {
        display: flex;
        justify-content: flex-start;
        gap: 3vw; 
    }

    .noodles h3 {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        text-align: left;
    }

    .ellipse {
        width: auto;
        height: 1.7vw;
    }

    .icon-item img {
        display: block;
        margin-top: 0px;
        max-width: 80%;
    }

    .icon-item h4 {
        margin-top: 4vw;
        font-size: 2.7vw;
    }

    .base-content h4, .noodles-content h4 {
        font-size: 4vw;
    }

    .base-content {
        margin-top: 6vw;
        gap: 3vw;
    }

    .base h3 {
        margin-top: 10vw;
    }

    .base p {
        margin-top: 3vw;
        text-align: left;
        width: 100%;
        font-size: 3.6vw;
        line-height: 5vw;
    }
    
    .toppings h3 {
        margin-top: 10vw;
        margin-bottom: 7vw;
    }
    
    .first-row {
        display: flex;
        flex-direction: row; 
        align-items: flex-end;
        margin-bottom: 7vw;
        gap: 7vw; 
    }
    
    .first-row .eggs, 
    .first-row .narutomaki, 
    .first-row .corn {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        text-align: center; 
    }
    
    .first-row  .eggs h4 {
        margin-top: 5vw;
    }
    
    .first-row .narutomaki h4 {
        margin-top: 5vw; 
    }
    
    .first-row .corn h4 {
        margin-top: 7vw; 
    }
    
    .first-row h4 {
        margin: 0;
        font-size: 4vw;
    }
    
    .second-row {
        display: flex;
        flex-direction: row; 
        align-items: flex-end;
        gap: 7vw; 
    }
    
    .second-row  .meat h4 {
        margin-top: 5vw;
    }
    
    .second-row .onion h4 {
        margin-top: 5vw; 
        width: 90px;
    }
    
    .second-row .mashrooms h4 {
        margin-top: 3vw; 
    }
    
    .second-row h4 {
        margin: 0;
        font-size: 4vw;
    }

    .toppings-icons img {
        display: block;
        max-width: 80%;
    }

    #create .background-text {
        font-size: 21vw;
        line-height: 18vw;
        left: 70vw; 
        width: 20vw;
        top: 75vw;
        margin-top: 0;
    }

    #create .create-inner {
        width: 100%; 
        display: flex;
        justify-content: center; 
    }

    #create .create-inner img {
        position: relative;
        width: 100vw;
        max-width: none;
        align-self: center;
        object-fit: contain;
        height: auto;
        left: 35vw;
        top: -15vw;
    }

    #create .base,
    #create .toppings,
    #create .toppings-icons {
        text-align: center; /* Центрування тексту */
    }
}

/* SECTION 2 */

.menu {
    margin-top: 100px;
    position: relative; 
}

.tonkotsu {
    position: absolute;
    top: 220px;
    left: 0;
    width: 569.699px;
    height: auto;
}

.tori {
    display: block;
    position: absolute;
    left: 0;
    width: 569.699px;
    height: auto;
    top: 140px;
}

.menu .container .background-text1 {
    position: absolute;
    color: var(--black);
    opacity: 20%;
    font-size: 140px;
    font-family: "Inter", sans-serif; 
    top: 120px;
    left: 0px;
}

.menu .container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
}

.center-text {
    text-align: center;
    margin-bottom: 75px;
    height: 163px;
}

.menu .container.center-text {
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.menu .container h2 {
    color: var(--black);
    font-size: 114px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    line-height: 110%;
    margin-top: 0;
}

.first-of-type, .third-of-type {
    display: flex;
    flex-direction: column; 
    margin-left: 714px; 
    text-align: left;  
    height: auto;
}

.block3 {
    margin-top: 100px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.third-of-type {
    display: block; /* Переконайтеся, що елемент відображається */
    width: 100%;
    margin-top: 75px;
    height: 650px;
    
}

.third-of-type.show {
    display: block;
    opacity: 1;
}

.menu .container .background-text3 {
    position: absolute;
    color: var(--black);
    opacity: 20%;
    font-size: 140px;
    font-family: "Inter", sans-serif; 
    top: 30px;
    left: 0px;
}

.title1, .title2, .title3 {
    margin-top: 0;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    gap: 350px;
    margin-bottom: 50px; 
}

.title1 h3, .title3 h3 {
    margin-top: 0;
    margin-right: 0;
}

.receipt1, .receipt3 {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 230px;
}

.ingridients1, .ingridients2, .ingridients3 .weight1, .weight2, .weight3 {
    text-align: left; 
}

.ingridients1 p, .ingridients2 p, .ingridients3 p {
    margin-bottom: 20px;
}

.ingridients1, .ingridients2, .ingridients3 {
    color: var(--black);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.weight1 p, .weight2 p, .weight3 p {
    margin-bottom: 20px;
}

.weight1, .weight2, .weight3 {
    text-align: right; 
    color: var(--black);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.cost1, .cost3 {
    text-align: right;
    margin-top: 200px;
    color: var(--orange);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.menu .container .background-text2 {
    position: absolute;
    color: var(--black);
    opacity: 20%;
    font-size: 140px;
    font-family: "Inter", sans-serif; 
    top: 900px;
    left: 552px;
}

.miso {
    /* position: absolute; */
    /* top: 970px;
    right: 0; */
    /* left: auto; */
    position: absolute;
    width: 705.023px;
    height: auto;
    right: 0;
}

.second-of-type {
    display: flex;
    flex-direction: column; 
    margin-top: 75px;
    width: 511px;
    text-align: left;  
}

.title2 h3 {
    margin-top: 75px;
    margin-right: 0;
}

.receipt2 {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.cost2 {
    text-align: right;
    margin-left: auto;
    margin-top: 198px;
    color: var(--orange);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}


.menu .container .view-button {
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.view-button {
    width: auto;
    display: flex;
    position: relative; 
    align-items: center; 
    gap: 15px; 
    background: none; 
    border: none;
    color: var(--black); 
    font-family: Inter, sans-serif; 
    font-size: 18px; 
    font-weight: 600; 
    cursor: pointer; 
    top: 75px;
    transition: color 0.3s ease; 
}

.view-button svg {
    flex-shrink: 0;
    stroke: var(--black);
    cursor: pointer;
    transition: stroke 0.3s ease; 
}

.view-button:hover {
    color: var(--orange);
}

.view-button:hover svg {
    stroke: var(--orange);
}

/* Початковий стан (прихований) */
#dynamic-content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Кінцевий стан (видимий) */
#dynamic-content.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {

    .menu {
        margin-top: 130vw;
    }

    .menu .container {
        display: flex;
        flex-direction: column;
    }

    .tonkotsu {
        width: 100%;
        height: auto;
        margin-bottom: 7vw;
        left: 4vw;
    }

    .center-text h2 {
        text-align: center;
        height: 100%;
        font-size: 16vw;
        line-height: 18vw;
    }
    
    .menu .container .background-text1 {
        position: absolute;
        color: var(--black);
        top: 15vw;
        left: 0vw;
    }
    
    .menu .container h2 {
        font-size: 114px;
        font-weight: 400;
        margin-top: 0;
    }
    
    .first-of-type {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        width: 100%;
        margin-left: 0px; 
        margin-top: 94vw;
    }
    
    .title1, .title2 {
        margin-top: 0;
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        gap: 350px;
        margin-bottom: 50px; 
    }
    
    .title1 h3 {
        margin-top: 0;
        margin-right: 0;
        width: 100vw;
    }
    
    .receipt1 {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        gap: 20vw;
    }
    
    .ingridients1, .ingridients2, .weight1, .weight2 {
        text-align: left; 
    }
    
    .ingridients1 p, .ingridients2 p{
        margin-bottom: 3vw;
    }
    
    .ingridients1, .ingridients2 {
        font-size: 3.3vw; 
        line-height: 4.5vw;
    }
    
    .weight1 p, .weight2 p {
        margin-bottom: 3vw;
    }
    
    .weight1, .weight2 {
        text-align: right;
        font-size: 3.3vw; 
        line-height: 4.5vw;
        gap: 3vw;
    }
    
    .cost1 {
        text-align: right;
        font-size: 3.7vw;
        margin-top: 27vw;
    }
    
    .miso {
        position: absolute;
        width: 100%;
        height: auto;
        margin-top: 7vw;
        margin-bottom: 7vw;
        left: 4vw;
    }
    
    .menu .container .background-text2 {
        position: relative;
        color: var(--black);
        opacity: 20%;
        font-size: 140px;
        font-family: "Inter", sans-serif; 
        top: 900px;
        left: 552px;
    }
    
    .second-of-type {
        display: flex;
        flex-direction: column; 
        margin-top: 75px;
        width: 511px;
        text-align: left;  
    }
    
    .title2 h3 {
        margin-top: 94vw;
        margin-right: 0;
    }
    
    .receipt2 {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    
    .cost2 {
        text-align: right;
        font-size: 3.7vw;
        margin-top: 27vw;
    }
    
    .menu .container .view-button {
        display: flex;
        justify-content: center; 
        align-items: center;  
    }
    
    .view-button {
        display: flex;
        position: relative; 
        align-items: center; 
        gap: 2vw; 
        cursor: pointer; 
        top: 6vw;
        transition: color 0.3s ease; 
    }
}

@media (max-width: 688px) {
    .menu {
        margin-top: 14vw;
    }

    .menu .container {
        display: flex;
        flex-direction: column;
    }

    .tonkotsu {
        width: 100%;
        height: auto;
        margin-bottom: 7vw;
        left: 4vw;
    }

    .center-text h2 {
        text-align: center;
        height: 100%;
        font-size: 16vw;
        line-height: 18vw;
    }
    .menu .container .background-text1 {
        position: absolute;
        color: var(--black);
        top: 18vw;
        left: 0vw;
    }
    
    .menu .container h2 {
        font-size: 17vw;
        font-weight: 400;
        margin-top: 0;
    }
    
    .first-of-type {
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        width: 100%;
        margin-left: 0px; 
        margin-top: 110vw;
    }
    
    .title1, .title2 {
        margin-top: 0;
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        margin-bottom: 7vw; 
    }
    
    .title1 h3 {
        margin-top: 0vw;
        margin-right: 0;
        height: auto;
        width: 100vw;
    }

    .title2 h3 {
        margin-top: 0vw;
        margin-right: 0;
        height: auto;
        width: 100vw;
    }
    
    .receipt1 {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        gap: 20vw;
    }
    
    .ingridients1, .ingridients2, .weight1, .weight2 {
        text-align: left; 
    }
    
    .ingridients1 p, .ingridients2 p{
        margin-bottom: 3vw;
    }
    
    .ingridients1, .ingridients2 {
        font-size: 3.3vw; 
        line-height: 4.5vw;
    }
    
    .weight1 p, .weight2 p {
        margin-bottom: 3vw;
    }
    
    .weight1, .weight2 {
        text-align: right;
        font-size: 3.3vw; 
        line-height: 4.5vw;
        gap: 3vw;
    }
    
    .cost1 {
        text-align: right;
        font-size: 3.7vw;
        margin-top: 27vw;
    }

    .menu .container .background-text2 {
        position: absolute;
        font-size: 140px;
        top: 90px;
        left: 50px;
    }
    
    .second-of-type {
        display: flex;
        flex-direction: column; 
        margin-top: 75vw;
        width: auto;
        text-align: left;  
    }
    
    .title2 h3 {
        margin-top: 7vw;
        height: auto;
        margin-right: 0;
    }
    
    .receipt2 {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    
    .cost2 {
        text-align: right;
        margin-left: auto;
        margin-top: 198px;
        color: var(--orange);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }
    
    .menu .container .view-button {
        display: flex;
        justify-content: center; 
        align-items: center;  
    }
    
    .view-button {
        display: flex;
        position: relative; 
        align-items: center; 
        gap: 15px; 
        background: none; 
        border: none;
        color: var(--black); 
        font-family: Inter, sans-serif; 
        font-size: 18px; 
        font-weight: 600; 
        cursor: pointer; 
        top: 120px;
        transition: color 0.3s ease; 
    }
    
    .view-button svg {
        flex-shrink: 0;
        stroke: var(--black);
        cursor: pointer;
        transition: stroke 0.3s ease; 
    }
    
    .view-button:hover {
        color: var(--orange);
    }
    
    .view-button:hover svg {
        stroke: var(--orange);
    }
}

/* SECTION 3 */

.cooks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
    position: relative;
}

.cooks .container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.chopsticks {
    position: absolute;
    top: -100px;
    left: 950px;
    width: 459.315px;
    height: auto;
    object-fit: contain;
}

.cooks .container .background-text1 {
    position: absolute;
    color: var(--black);
    opacity: 20%;
    font-size: 140px;
    font-family: "Inter", sans-serif; 
    top: 130px;
    left: -100px;
    z-index: 0;
}

.cooks .container .background-text2 {
    position: absolute;
    color: var(--black);
    opacity: 20%;
    font-size: 140px;
    font-family: "Inter", sans-serif; 
    top: 130px;
    right: -100px;
    z-index: 0;
}

.chef-img, .sous-chef-img {
    display: inline-flex;
    height: 310px;
    width: 310px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
}

.cooks-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 293px;
}

.cooks-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 130px; 
}

.chef, .sous-chef {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.chef h4, .sous-chef h4 {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    height: 163px;
}

.cooks-content p {
    text-align: center;
    color: var(--black);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    width: 470px;
    margin-top: 0px;
}

@media (max-width: 768px) {
    .cooks {
        margin-top: 300vw;
    }
}

/* SECTION 4 */

.feedback .container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 120px;
}

.feedback h2 {
    text-align: center;
}

.alltogether {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: start;
}

.emty {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
    width: 653px;
}

.comment {
    color: rgba(25, 25, 25, 0.50);
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
}

.head .text {
    color: var(--black);
    color: #191919;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: left;
}

.img-n-form {
    display: flex;
    margin-top: 30px;
    gap: 30px;
} 

.content {
    color: #191919;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
}

.content > input {
    border: none;
    margin-left: 0;
}

.commentbox img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.user {
    bottom: none;
    outline: none;
    margin: 5px 0;
    color: var(--black);
    margin-left: 20px;
    padding: 10px;
    background-color: #F1F0E5;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 136.364% */
    text-transform: uppercase;
}

.commentinput > input {
    border: none;
    background: #F1F0E5;
    padding: 10px;
    margin-top: 30px;
    padding-left: none;
    outline: none;
    border-bottom: 2px solid var(--black);
    width: 553px;
    color: rgba(25, 25, 25, 0.50);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
}

.publish-button {
    margin-left: 406px;
    display: inline-flex;
    height: 54px;
    padding: 14px 27px;
    justify-content: center;
    align-items: center;

    color: #F1F0E5;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    color: var(--background);
    border: none;
    outline: none;
    border-radius: 50px;
    background: var(--yellow);
    width: 147px;
    margin-top: 30px;
    cursor: pointer;
}

.publish-button.abled {
    background: #f15025 !important;
    color: #F1F0E5 !important;
}

.notify {
    color: #191919;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.policy {
    margin: 20px 0;
    font-family: "Inter", sans-serif;
    color: rgba(25, 25, 25, 0.50);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 560px;
    line-height: 32px; /* 160% */
}

.policy a {
    text-decoration: none;
    color: var(--orange);
}

.notify {
    display: flex;
    align-items: center;
}

.notify > input {
    margin-right: 10px;

    /* не працює */
    width: 20px;
    height: 20px;
    background-color: none;
    border: 1px solid var(--yellow);
}

.parents {
    display: flex;
    font-family: "Inter", sans-serif;
    margin-bottom: 30px;
}

.parents h4 {
    color: black;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 136.364% */
    text-transform: uppercase;
    margin-left: 30px;
}

.parents p {
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.parents > img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    object-position: center;
}

.engagements {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.engagements img {
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.date {
    color: black;
    opacity: 0.5;
    margin-left: 30px;
    margin-bottom: 30px;
}

/* SECTION 5 */

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
}

.contacts .container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.contacts-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.contacts-map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-start;
}

.contacts-content h3 {
    margin-top: 0; 
    margin-bottom: 0;
}

.contacts .container .background-text {
    position: absolute;
    color: var(--black);
    opacity: 20%;
    font-size: 140px;
    font-family: "Inter", sans-serif; 
    width: 148px;
    margin-top: -50px;
    left: -80px;
}

.contacts .container .contacts-content .block1 .adress {
    color: var(--black);
    width: 320px;
    height: 59px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 50px;
}

.contacts .container .contacts-content .block1 .number {
    color: var(--black);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contacts .container .contacts-content .block1 .gmail {
    color: var(--black);
    width: 320px;
    height: 59px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    text-transform: uppercase;
}

.block2 h4 {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
    text-transform: uppercase;
}

.block1, .block2 {
    gap: 50px;
}

.hours {
    color: #191919;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 20px;
    width: 290px;
}

iframe {
    width: 500px;
    height: 500px;
}

 /*FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 100px; 
    padding: 20px; 
    height: 150px;
    background-color: var(--black);
}

.last .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 1300px;
}

.footer-logo {
    margin-left: 0;
}

.text {
    text-align: center;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: var(--background);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.last .container .line {
    width: 100%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-nav {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-nav nav a {
    text-decoration: none;
    color: var(--background);
    display: inline-block;
    transition: color .4s ease;
}

.footer-nav nav a:hover {
    color: var(--orange); 
    transform: scale(1.05); 
}

