.signup {
    width: auto;
    background-color: #f1f0e5;
    display: flex;
    justify-content: center;
    
    padding-top: 70px; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #001a23;
}

.login {
    width: auto;
    background-color: #f1f0e5;
    justify-content: center;
    
    padding-top: 70px; 
    font-family: 'Poppins', sans-serif;
    color: #001a23;
}

.maincontent {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 32px;
}

.text-1 {
    font-family: 'Anton', sans-serif;
    font-size: 73px;
    color: #191919;
    text-align: center;
    justify-self: start;
    line-height: auto;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 434px;
}

.email, .password {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.email-input,
.password-input {
    border-radius: 14.5px;
    display: flex;
    align-items: left;
    padding: 17px 24px;
    border: 1.2px solid rgba(49, 73, 60, 0.3);
    gap: 14.5px;
    line-height: auto;
    background: none;
    color: #191919;
}

.email-input {
    justify-content: flex-start;
}

.password-input {
    justify-content: space-between;
}

.text-2, .text-5 {
    font-family: 'Poppins', sans-serif;
    font-size: 19.27px;
    color: rgba(49, 73, 60, 0.3);
    margin: 0;
}

 .text-3, .text-4 {
    font-family: 'Inter', sans-serif;
    font-size: 19.27px;
    color: #001a23;
    margin: 0;
}

.text-7 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #001a23;
    margin: 0;
}

.acception {
    display: flex;
    align-items: center;
    gap: 12px;
}

.ellipse-2 {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    border: 1.2px solid #001a23;
    cursor: pointer;
}

.text-8 {
    font-family: 'Inter', sans-serif;
    font-size: 16.86px;
    color: #001a23;
    margin: 0;
    width: auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 434px;
    background: none;
}

.signin {
    border-radius: 14.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 70px;
    background-color: #fbab20;
    cursor: pointer;
    border: none;
    cursor: not-allowed;
    transition: background-color 0.3s ease;
}

.signin-active {
    background-color: #F15025; 
    cursor: pointer;
}

.loginb {
    border-radius: 14.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 70px;
    background-color: #fbab20;
    cursor: pointer;
    border: none;
    cursor: not-allowed;
    transition: background-color 0.3s ease;
}

.loginb-active {
    background-color: #F15025; 
    cursor: pointer;
}

.text-9 {
    font-family: 'Poppins', sans-serif;
    font-size: 19.27px;
    color: #f1f0e5;
    margin: 0;
}

.text-1-3 {
    font-family: 'Inter', sans-serif;
    font-size: 16.86px;
    color: #001a23;
    text-align: center;
    cursor: pointer;
    margin: 12px 0 0 0;
}

.text-1-3 a {
    color: #FBAB21;
}

.text-1-3 a:hover {
    text-decoration: underline; 
    color: #F15025;
  }